@{
    ViewData["Title"] = "Acceso Denegado";
}

<h1>Acceso denegado</h1>
<p>No tienes permisos para acceder a esta sección.</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver al inicio</a>